@tailwind base;
@tailwind components;
@tailwind utilities;

.rhap_button-clear {
  margin-top: 0.7rem;
  color: #5c7cfa;
}

.rhap_download-progress {
  background: #222;
}
.rhap_progress-bar {
  margin: 0 1rem;
  background: #222;
}

.rhap_progress-indicator {
 background: #5c7cfa;
 height: 1rem;
 width: 1rem;
 transform: translateY(.1rem);
}

.rhap_container{
  background: #090909;
}

.rhap_time {
  color: white;
}

.image-gallery-icon:hover {
 color: #5c7cfa;
 filter: none;
 box-shadow: none;
}

.image-gallery-icon {
 color: #5c7cfa;
 filter: none;
 box-shadow: none;
}

.react-calendar {
  width: 380px;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 100%;
  background: #010101;
  font-family: "Rubik";
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #0f0f0f;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #0f0f0f;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff6b6b;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 32px;
}

.react-calendar__tile:disabled {
  background-color: #010101;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #0f0f0f;
}

.react-calendar__tile--now {
  border-radius: 4px;
  color: #20c997;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: #fff;
  border-radius: 4px;
}

.react-calendar__tile--hasActive {
  background: #7190ed;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #7190ed;
  border-radius: 4px;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #7190ed;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}


.calculator input {
  border: none;
  outline: 0;
  width: 5rem;
  height: 5rem;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  background:#0f0f0f; 
  margin: 5px;  
}

.acb {
  background-color: #ff6b6b !important;
  color: black;
}
.eb {
  background-color: #5c7cfa !important;
  color: black;
  width: 170px !important;
}
.deb {
  background-color: #fab005 !important;
  color: black;
}

.calculator .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

.calculator .display input {
  padding: 1rem;
  text-align: right;
  flex: 1;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 27rem !important;
    height: 34rem !important;
  }
